.button{
	display: inline-block; 
	border-radius: 9999px;
	line-height: 1; 
	padding: 1em 14px;
	font-size: 12px; 
	font-weight: 500;
	cursor: pointer; 
	transition: all 0.2s ease 0s; 
	font-family: Raleway, sans-serif; 
	letter-spacing: 0.02em;
	margin-left: 15px; 
}
.disabled{
	cursor:default;
}

.default{
	background: rgb(255, 255, 255);
	color: rgb(255, 120, 0); 
	box-shadow: rgb(255, 120, 0) 0px 0px 0px 1px inset; 
	margin-right: 10px;
}
.default.hover{
	background: rgb(255, 255, 255);
	color: rgb(74, 144, 226); 
	box-shadow: rgb(74, 144, 226) 0px 0px 0px 1px inset; 
	margin-right: 10px;
}
.disabled.default{
	background: rgb(255, 255, 255);
	color: rgb(201, 201, 201); 
	box-shadow: rgb(201, 201, 201) 0px 0px 0px 1px inset;
}
.primary{
	
	background: rgb(255, 120, 0); 
	color: rgb(255, 255, 255);
	box-shadow: none;
	margin-right: 10px;
}

.primary.hover{
	background: rgb(255, 255, 255);
	color: rgb(255, 120, 0); 
	box-shadow: rgb(255, 120, 0) 0px 0px 0px 1px inset; 
	margin-right: 10px;
}
.disabled.primary{
	background: rgb(201, 201, 201);
	color: rgb(255, 255, 255); 
	box-shadow: none;
}
.secondary{
	background: rgb(249, 249, 249);
	color: rgb(50, 50, 127); 
	box-shadow:none;
	margin-right: 10px;
}
.secondary.hover{
	background: rgb(255, 255, 255);
	color: rgb(74, 144, 226); 
	box-shadow: rgb(74, 144, 226) 0px 0px 0px 1px inset; 
	margin-right: 10px;
}
.disabled.secondary{
	background: rgb(249, 249, 249);
	color: rgb(201, 201, 201); 
	box-shadow: none;
}
.flat{
	margin-right: 10px;
}
.flat.hover{
	opacity:0.6;
}
.disabled.flat{
	color: rgb(201, 201, 201); 
}
h3 {
	margin-left: 15px;
}